.profile-image-container {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  position: relative;
}

.profile-image {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
}

@media (max-width: 400px) {
  .profile-image-container {
    width: 160px;
    height: 160px;
    flex-shrink: 0;
  }

  .profile-image {
    width: 160px;
    height: 160px;
    display: block;
  }
}

.information {
  margin-left: 2rem;

  & h3 {
    font-size: 1.5rem; /* 24px */
  }
}

@media (max-width: 400px) {
  .information h3 {
    font-size: 1.25rem; /* 20px */
  }
}

.roles {
  & > li {
    padding: 4px;
    border-radius: 8px;
  }
}

.BOSS {
  position: relative;
  background: linear-gradient(#04026b, #2c139c);
  opacity: 1;
}

.BOSS::before {
  content: '';
  position: absolute;
  inset: 0;
  animation: cos 4s linear infinite;
  background: linear-gradient(#2c139c,#04026b);
  opacity: 0;
  border-radius: 8px;
  width: 100%;
  height: 100%;
}
@keyframes sin {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cos {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.DJ {
  background: #8f642e;
}

.VJ {
  background: #0f2835;
}

.links {
  margin-top: 1rem;
  & > li {
    padding: 8px 0;
    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: '-';
      margin: 0 0.4rem;
      text-decoration: none !important;
    }
  }
}
