.profile-image {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  background: cyan;
}

@media (max-width: 400px) {
  .profile-image {
    width: 160px;
    height: 160px;
  }
}

.information {
  margin-left: 2rem;

  & h3 {
    font-size: 1.5rem; /* 24px */
  }
}

@media (max-width: 400px) {
  .information h3 {
    font-size: 1.25rem; /* 20px */
  }
}

.roles {
  & > li {
    padding: 4px;
    border-radius: 8px;
  }
}

.DJ {
  background: #8f642e;
}

.VJ {
  background: #0f2835;
}

.links {
  margin-top: 1rem;
  & > li {
    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: '-';
      margin: 0 0.4rem;
      text-decoration: none !important;
    }
  }
}
