.second-section {
  padding-top: 100svh;
  z-index: 10;
  background: transparent;
  position: relative;

  .content {
    background-color: black;
    opacity: 0.99;
    min-height: 100vh;
  }
}

.scroll-down {
  transform: rotate(90deg);
  position: absolute;
  right: 1rem;
  bottom: 8rem;

  &::after {
    content: "";
    position: absolute;
    margin-left: 8px;
    top: 1rem;
    width: 100px;
    height: 1px;
    border: solid 1px white;
  }
}

.profile-image {
  border-radius: 8px;
  width: 200px;
  height: 200px;
  background: cyan;
}

.information {
  margin-left: 2rem;
}

.roles {
  & > li {
    padding: 4px;
    border-radius: 8px;
  }
}

.DJ {
  background: #080318;
}

.VJ {
  background: #0f2835;
}

.links {
  margin-top: 1rem;
  & > li {
    &:hover {
      text-decoration: underline;
    }
    &::before {
      content: "-";
      margin: 0 0.4rem;
      text-decoration: none !important;
    }
  }
}